.App {
  text-align: center;
}
.mainContainer {
  background-color: #000e29;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 236, 236);
}
.counterBox {
  display: flex;
  flex-direction: row;
  background-color: rgb(165, 165, 165);
  cursor: pointer;
  border-radius: 4px;
}
.counterBox p {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  padding: 10px 25px;
  color: #000e29;
  font-weight: bold;
  border-radius: 4px;
}
button {
  /* width: 2.5rem; */
  background-color: transparent;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  padding: 0 1.8rem;
  cursor: pointer;
}
